* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #093A82;
}

img {
    width: 100%;
}

#campaign_text_img span {
    font-size: 2em;
    line-height: 2em;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
}

p {
    color: #fff;
}

/*----------------  BURGER MENU -----------------*/
.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50px;
}

.nav-active {
    transform: translateY(0%);
}

.burger_links {
    position: absolute;
    height: 15vh;
    top: -2vh;
    background: #093A82;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    transform: translateY(-180%);
}

.burger_links a {
    padding-top: 0;
    margin: 0;
    margin: 1.4em;
    font-size: 0.4em;
    background-color: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
}

.burger_links a:hover {
    color: #FAC177;
    transition: 0.2s;
}

.burger {
    display: block;
    align-self: flex-start;
    padding: 0.2em 0.2em 0.2em 0em;
    z-index: 2;
}

#desktop_menu {
    display: none;
}

.hidden {
    display: none;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-size: 3em;
}

/**************MOBIL VERSION AF PLAKAT OG TEKST AFSNIT*************/

#campaign_text_img {
    display: flex;
    flex-wrap: wrap-reverse;
}

.poster {
    flex-grow: 2;
    flex-grow: 600px;
}

.text {
    display: flex;
    flex-grow: 2;
    flex-grow: 600px;

    align-items: center;
    margin: 1em;
}

/*******************ANIMATION**********************/
.drop {
    animation-name: drop_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-20vw);
    }

    to {
        transform: translateY(3vw);
    }
}

/*****************MEDIA QUERIES******************/

@media screen and (min-width: 500px) {

    .poster {
        flex-basis: 250px;
    }

    .text {
        flex-basis: 400px;
    }
}

@media screen and (min-width:1000px) {

    #desktop_menu {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        width: 100%;
        background-color: #093A82;
    }

    #desktop_menu a {
        margin: 1em;
        border: none;
        font-size: 1em;
        text-decoration: none;
        color: #fff;
    }

    #desktop_menu a:hover {
        color: #FAC177;
        transition: 0.2s;
    }

    .burger {
        display: none;
    }
